
@{
    ViewData["Title"] = "About";
}


<h2>What is this website?</h2>
<p>This is a personal full stack project I've been working on since December of 2019. It is an online web 
    store built by <a href="https://www.linkedin.com/in/jsndavila/">Jason Davila</a>.<br />
    This web application was built using the ASP.NET Core and Entity Framework. The Shop utilizes a SQL database and supports full CRUD functionality 
    with data pertaining to products, orders, users, as well as user authorization. The full CRUD ability is limited 
    to users with Administrative privileges. The frontend is built using HTML, CSS, and Bootstrap but most of the work has gone into
    the backend logic and functionality. A mobile version of the application is under development as well using Xamarin Forms
    and Javascript. The mobile application will support Android and iOS.
</p>
<h2>
    How do you use this website?
</h2>
<p>
    The idea is that unregistered users will be able to browse the online shop and view details about items in stock. To purchase
    an item, a user must have a registered account to place an order. Once a user makes an account, an option to assemble an order
    will appear on the navbar and users will be able to add or delete items to the order, manage quantities of those items on
    the order, and eventually finalize and place that order. Upon finalization, the order will be removed from the shopping cart 
    and will in theory be "placed for delivery". 
</p>
<h4>
    Small Disclosure 
</h4>
<p>
    Feel free to create a dummy account with a dummy email and password. As long as the email address fits the criteria, you
    will have a viable and usable non-admin account. You can log in using that account at any time and you can make as many 
    accounts as you'd like, but PLEASE refrain from using personal or sensitive information. Passwords you create are indeed
    encrypted and I will not be able to see them, but either way it's probably for the best that you use something like 
    "abcdef"
</p>
<h2>
    Who is <a href="https://www.linkedin.com/in/jsndavila/">Jason Davila</a>?
</h2>
<p>
    Jason is a software developer with a Bachelor of Arts in Computer Science from Florida International University.
    He is currently pursuing his dream and seeking a full-time position as an ASP.NET Core web application developer. In his free time he
    enjoys video games, biking, listening to music, black coffee and spending time with his pets. His goals include becoming more involved
    with mobile application development via Xamarin Forms and to contribute his skills a developer to launchable products and applications.
</p>